body{
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: #F7F7F7;
    max-width: 900px;
    display: grid;
    grid-template-areas: "video-destaque propaganda"
                         "video-destaque videos-sugeridos";
    grid-template-columns: 1fr 270px;
    grid-template-rows: 56px 1fr;
    gap: 20px;
    padding: 35px;
}

.video-destaque{
    grid-area: video-destaque;
}

.video-destaque img{
    width: 100%;
    margin-bottom: 12px;
}

.video-destaque .informacoes .titulo{
    font-size: 18px;
    margin-bottom: 7px;
}

.video-destaque .informacoes .views{
    font-size: 14px;
    margin-bottom: 9px;
}

.video-destaque .informacoes .descricao{
    font-size: 16px;
}

.propaganda{
    grid-area: propaganda;
}

.videos-sugeridos{
    grid-area: videos-sugeridos;
}

.videos-sugeridos .video{
    display: flex;
    margin-bottom: 16px;
}

.videos-sugeridos .video .informacoes h2{
    font-size: 14px;
    margin-bottom: 7px;
}

.videos-sugeridos .video .informacoes p{
    font-size: 11px;
    margin-bottom: 5px;
}
