@media(max-width: 425px){
    .header{
        flex-direction: column;
    }

    .header .menu{
        flex-direction: column;
        font-size: 40px;
        margin-top: 80px;
    }

    .header .menu li{
        margin: 20px;
    }

    .header .logo-text{
        font-size: 40px;
    }

    .header .menu .cadastro{
        font-size: 18px;
        padding: 15px 22px;
    }
}